<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bowling.mapper.BowlingAdminMapper">
	<!-- admin login  -->
	<select id="login" resultType="String" parameterType="com.example.bowling.vo.Admin">
		SELECT
			admin_id as adminId
		FROM
			admin
		WHERE
			admin_id = #{adminId} AND admin_pw = #{adminPw}
	</select>
</mapper>