<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bowling.mapper.BowlingMapper">
	<!-- addReport Game insert -->
	<insert id="insertGame" parameterType="com.example.bowling.vo.Game">
		INSERT INTO game(
			hteam_name,
			stadium_name,
			ateam_name,
			game_date	
		)VALUES(
			#{hteamName},
			#{stadiumName},
			#{ateamName},
			NOW()
		)
	</insert>
	
	
	<!-- addReport team list -->
	<select id="selectTeam" resultType="com.example.bowling.vo.Team">
		SELECT
			team_name as teamName
		FROM
			team
	</select>
	<!-- addReport team player list -->
	<select id="selectTeamPlayer" resultType="com.example.bowling.vo.TeamPlayerName"
								  parameterType="com.example.bowling.vo.Team">
		SELECT
			tpc.team_name as teamName,
			p.player_name as playerName,
			tpc.player_no as playerNo
		FROM
			team_player_contract as tpc
		INNER JOIN
			player as p
		ON
			p.player_no = tpc.player_no
		WHERE tpc.team_name = #{teamName}
	</select>
	
	<!-- addReport awayTeam list -->
	<select id="selectAwayTeam" resultType="com.example.bowling.vo.Team"
								parameterType="com.example.bowling.vo.Team">
		SELECT
			team_name as teamName
		FROM
			team
		WHERE team_name != #{teamName}					
	</select>
	
	<!-- addReport awayTeam list -->
	
</mapper>