<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.bowling.mapper.BowlingScheduleMapper">
		<select id="selectSchedule" resultType="com.example.bowling.vo.Schedule">
		select g.game_no as gameNo,game_date as gameDate,
			gr.hteam_name as hteamName,gr.hteam_score as hteamScore,gr.hteam_result,
			gr.ateam_name as ateamName,gr.ateam_score as ateamScore,gr.ateam_result
		from game g inner join game_result gr
		on g.game_no = gr.game_no
		</select>
  </mapper>